ms4/n8n-workflows/flujo_01_solicitud_revision.json
{
  "name": "Flujo 01 - Solicitud de Revision por WhatsApp",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "solicitud-revision",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "webhook-whatsapp",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "ms4"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body || $json; const text = String(data.text || data.Body || '').trim(); const from = data.from || data.From || ''; const timestamp = data.timestamp || data.MessageSid || data.SmsMessageSid || ''; const match = text.match(/[A-Z]{2,4}-\\d{4}-\\d+/i); return [{ json: { ...data, from, text, timestamp: String(timestamp), codigoActivo: match ? match[0].toUpperCase() : null } }];"
      },
      "id": "extraer-codigo",
      "name": "Extraer Codigo Activo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MS4_MS3_BASE_URL + '/webhooks/solicitud-revision?from=' + encodeURIComponent($json.from) + '&text=' + encodeURIComponent($json.text) + '&codigoActivo=' + encodeURIComponent($json.codigoActivo) }}"
      },
      "id": "crear-solicitud-ms3",
      "name": "Crear Solicitud via MS3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [540, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MS4_MS3_BASE_URL + '/notificaciones/email?to=' + encodeURIComponent($json.responsableEmail) + '&subject=' + encodeURIComponent(`Solicitud de revision ${$json.codigoActivo}`) + '&text=' + encodeURIComponent(`Solicitud recibida por WhatsApp. Activo: ${$json.codigoActivo} - ${$json.activoNombre}. Estado: ${$json.activoEstado}. Ticket: ${$json.ticketId}. Documentos asociados: ${$json.documentosEncontrados}.`) }}"
      },
      "id": "sendgrid-email",
      "name": "Enviar Email via MS3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [820, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MS4_MS3_BASE_URL + '/whatsapp/enviar?to=' + encodeURIComponent($('Crear Solicitud via MS3').item.json.from) + '&mensaje=' + encodeURIComponent(`Tu solicitud de revision para el activo ${$('Crear Solicitud via MS3').item.json.codigoActivo} fue recibida. Referencia: ${$('Crear Solicitud via MS3').item.json.ticketId}.`) }}"
      },
      "id": "responder-whatsapp",
      "name": "Responder WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [[{ "node": "Extraer Codigo Activo", "type": "main", "index": 0 }]]
    },
    "Extraer Codigo Activo": {
      "main": [[{ "node": "Crear Solicitud via MS3", "type": "main", "index": 0 }]]
    },
    "Crear Solicitud via MS3": {
      "main": [[{ "node": "Enviar Email via MS3", "type": "main", "index": 0 }]]
    },
    "Enviar Email via MS3": {
      "main": [[{ "node": "Responder WhatsApp", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
