ms4/n8n-workflows/flujo_02_alerta_garantia.json
{
  "id": "ms4Flujo02AlertaGarantia",
  "name": "Flujo 02 - Alerta de Vencimiento de Garantia",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "alerta-garantia",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "webhook-ms1",
      "name": "Webhook MS1 Garantia",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "ms4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.MS4_MS1_GRAPHQL_URL}}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"query\":\"query Activo($id: ID!) { activo(id: $id) { id codigo nombre estado } }\",\"variables\":{\"id\":\"{{$json.activoId}}\"}}"
      },
      "id": "datos-ms1",
      "name": "Enriquecer Datos MS1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [260, 0]
    },
    {
      "parameters": {
        "url": "={{$env.MS4_MS2_BASE_URL}}/documentos?activoId={{$node['Webhook MS1 Garantia'].json.activoId}}"
      },
      "id": "docs-ms2",
      "name": "Verificar Poliza MS2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.MS4_MS3_BASE_URL}}/notificaciones/email",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"to\":\"{{$node['Webhook MS1 Garantia'].json.responsableEmail}}\",\"subject\":\"Garantia por vencer {{$node['Webhook MS1 Garantia'].json.codigo}}\",\"text\":\"Revise la garantia y documentos asociados.\"}"
      },
      "id": "email-responsable",
      "name": "Email Responsable via MS3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [780, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.MS4_FCM_API_URL}}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"message\":{\"topic\":\"garantias\",\"notification\":{\"title\":\"Garantia por vencer\",\"body\":\"{{$node['Webhook MS1 Garantia'].json.codigo}} vence pronto\"}}}"
      },
      "id": "push-fcm",
      "name": "Push FCM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1040, 0]
    }
  ],
  "connections": {
    "Webhook MS1 Garantia": {
      "main": [[{ "node": "Enriquecer Datos MS1", "type": "main", "index": 0 }]]
    },
    "Enriquecer Datos MS1": {
      "main": [[{ "node": "Verificar Poliza MS2", "type": "main", "index": 0 }]]
    },
    "Verificar Poliza MS2": {
      "main": [[{ "node": "Email Responsable via MS3", "type": "main", "index": 0 }]]
    },
    "Email Responsable via MS3": {
      "main": [[{ "node": "Push FCM", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
