ms4/n8n-workflows/flujo_03_alerta_mantenimiento.json
{
  "name": "Flujo 03 - Alerta de Mantenimiento Programado",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "alerta-mantenimiento",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "webhook-ms1",
      "name": "Webhook MS1 Mantenimiento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "ms4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.MS4_MS1_GRAPHQL_URL}}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"query\":\"query Activo($id: ID!) { activo(id: $id) { id codigo nombre estado } }\",\"variables\":{\"id\":\"{{$json.activoId}}\"}}"
      },
      "id": "datos-activo",
      "name": "Obtener Datos MS1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [280, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.MS4_MS3_BASE_URL}}/notificaciones/email",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"to\":\"{{$node['Webhook MS1 Mantenimiento'].json.responsableEmail}}\",\"subject\":\"Mantenimiento programado {{$node['Webhook MS1 Mantenimiento'].json.codigo}}\",\"text\":\"Coordine el mantenimiento programado del activo.\"}"
      },
      "id": "email",
      "name": "Enviar Email via MS3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [560, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.MS4_MS3_BASE_URL}}/whatsapp/enviar",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"to\":\"{{$node['Webhook MS1 Mantenimiento'].json.responsablePhone}}\",\"mensaje\":\"Recordatorio: el activo {{$node['Webhook MS1 Mantenimiento'].json.codigo}} tiene mantenimiento programado para {{$node['Webhook MS1 Mantenimiento'].json.fechaMantenimiento}}.\"}"
      },
      "id": "whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, 0]
    }
  ],
  "connections": {
    "Webhook MS1 Mantenimiento": {
      "main": [[{ "node": "Obtener Datos MS1", "type": "main", "index": 0 }]]
    },
    "Obtener Datos MS1": {
      "main": [[{ "node": "Enviar Email via MS3", "type": "main", "index": 0 }]]
    },
    "Enviar Email via MS3": {
      "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
