ms3/n8n-workflows/flujo_03_alerta_mantenimiento.json
{
  "name": "Flujo 03 - Alerta de Mantenimiento Programado",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "alerta-mantenimiento",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "webhook-ms1",
      "name": "Webhook MS1 Mantenimiento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.MS1_GRAPHQL_URL}}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"query\":\"query Activo($id: ID!) { activo(id: $id) { id codigo nombre estado } }\",\"variables\":{\"id\":\"{{$json.activoId}}\"}}"
      },
      "id": "datos-activo",
      "name": "Obtener Datos MS1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [280, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.SENDGRID_API_KEY}}" }]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"personalizations\":[{\"to\":[{\"email\":\"{{$node['Webhook MS1 Mantenimiento'].json.responsableEmail}}\"}]}],\"from\":{\"email\":\"{{$env.SENDGRID_FROM_EMAIL}}\"},\"subject\":\"Mantenimiento programado {{$node['Webhook MS1 Mantenimiento'].json.codigo}}\",\"content\":[{\"type\":\"text/plain\",\"value\":\"Coordine el mantenimiento programado del activo.\"}]}"
      },
      "id": "email",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [560, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.WHATSAPP_API_URL}}/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.WHATSAPP_TOKEN}}" }]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{$node['Webhook MS1 Mantenimiento'].json.responsablePhone}}\",\"type\":\"text\",\"text\":{\"body\":\"Recordatorio: el activo {{$node['Webhook MS1 Mantenimiento'].json.codigo}} tiene mantenimiento programado para {{$node['Webhook MS1 Mantenimiento'].json.fechaMantenimiento}}.\"}}"
      },
      "id": "whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, 0]
    }
  ],
  "connections": {
    "Webhook MS1 Mantenimiento": {
      "main": [[{ "node": "Obtener Datos MS1", "type": "main", "index": 0 }]]
    },
    "Obtener Datos MS1": {
      "main": [[{ "node": "Enviar Email", "type": "main", "index": 0 }]]
    },
    "Enviar Email": {
      "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]]
    }
  }
}
